@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* test - carta styling */

.carta-theme__default {
    background-color: red;
}

.carta-theme__default .carta-editor {
    background-color: blue;
}

.carta-theme__default .carta-editor ::placeholder {
    opacity: 0.5;
}